/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

.contact-link {
    color: #8CB4D7;
    text-decoration: underline;
}

.top-buffer {
    margin-top: 100px;
}

.desc {
  margin-top: 25px;
}

.contact {
  margin-top: 25px;
}

.event {
  margin-top: 25px;
}

.panel {
  margin-top: 150px;
  background-color: rgba(255,255,255, 0.75);
  color: black;
}

.vcenter {
    display:table-cell;
    vertical-align:middle;
    float:none;
}

.jumbotron {
    background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),url("../img/bg.png") no-repeat center center;
    background-size: 100%;
    color: rgba(255,255,255, 0.9);
    height: 400px;
    margin-bottom: 200px;
}

.jumbotron input {
    color: black;
}

#mc-embedded-subscribe {
    color: white;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 750px;
  }
}
